{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Hari Babu" />
	<meta name="description" content="Kalyani Autospares Addresses Page" />
	<meta name="keywords" content="Food, Restaurant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Kalyani Autospares | My Addresses</title>
	<!-- CSS -->
	<link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
	<link href="{% static 'css/profilestyle.css' %}" rel="stylesheet">
	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

	<style>
		* {
			cursor: url("{% static '/images/cursor.svg' %}"),
			auto !important;
		}
	</style>

	<!-- slider -->

	<link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

	<header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div class="left">
                    <img class="imagelogo" onclick="gohome()" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" onclick="gohome()" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div class="home pill">
                            <img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div onclick="goprofile()" class="profile pill pillactive">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <img id="prof_back" onclick="goprofile()" src="{% static '/images/backbtn.svg'%}" alt="">
                </div>
                <div class="middle">
                    <h3>Addresses</h3>
                </div>
                <div class="right">
                    <img onclick="addaddress()" class="plus_ic" src="{% static '/images/plus_ic.svg'%}" alt="">
                </div>
            </div>



        </nav>

    </header>


    {% if user_addresses %}
    <input type="checkbox" id="ChekBox" placeholder="jj" checked>
    {% else %}
    <input type="checkbox" id="ChekBox" placeholder="jj">
    {% endif %}
    <div class="wr_empty">
        <div class="empty_fav">
            <h1>No Addresses <span>Added</span></h1>
            <a style="text-decoration: none;" href="{% url 'add_address' %}">
                <p>Add Address</p>
            </a>
        </div>
    </div>


    <main>
        <section class="section1">
            <div class="wrapper ordwrpper">
                <div class="addr_title">
                    <h1 class="title">Addresses</h1>
                    <img onclick="addaddress()" class="plus_ic" src="{% static '/images/plus_ic.svg'%}" alt="">
                </div>
                {% include 'includes/alerts.html' %}
                <div class="main_or_wr disfle">
                    {% for address in user_addresses %}
                    <div class="order_wrap add_wrap">
                        <div class="or_inner">
                            <h2>{{address.first_name}}</h2>
                            <div class="use_default">
                                <a style="text-decoration: none;" href="{% url 'edit_address' address.id %}"><h3>edit <i class="fas fa-edit"></i></h3></a>
                                <a href="{% url 'delete_address' address.id %}" id="deleteadd"><img src="{% static '/images/garbage.svg' %}" alt="delete" ></a>
                            </div>
                        </div>
                        <div class="break">
                        </div>
                        <div class="or_inner">
                            <h3>{{address.address_line_1}},<br>
                                {% if address.address_line_2 %}
                                {{address.address_line_2}},<br>
                                {% endif %}
                                {{address.city}},<br>
                                {{address.state}},<br>
                                {{address.country}} - {{address.pincode}}.</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>



    <style>
        #message{
            width: max-content;
            margin: 0 auto;
        }
        #deleteadd{
            font-size: 12px;
            text-decoration: none;
            background-color: black;
            padding: 5px 10px;
            color: white;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
	







	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js'%}"></script>
	<script src="{% static 'js/slick.js'%}"></script>
	<script src="{% static 'js/profile.js'%}"></script>

    <script>
        deletebtns = document.querySelectorAll("#deleteadd");
        deletebtns.forEach(element => {

            element.addEventListener("click", function (event) {
                event.preventDefault();
                if (window.confirm('delete address ?')) {
                    // They clicked Yes
                    location.href = this.getAttribute('href');
                }
                else {

                }
            });

        });
    </script>

	{% include 'includes/links.html' %}


</body>

<div class="mbnavpill">
	<div class="tab_nav">
		<div class="home pill">
			<img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
			<h4>HOME</h4>
		</div>
		<div class="profile pill pillactive">
			<img src="{% static '/images/profile_ic.svg'%}" alt="">
			<h4>PROFILE</h4>
		</div>
		<div class="favorites pill">
			<img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
			<h4>FAVORITE'S</h4>
		</div>
	</div>
</div>


</html>