{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares my reviews page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | My Reviews</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/profilestyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div class="left">
                    <img class="imagelogo" onclick="gohome()" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" onclick="gohome()" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div class="home pill">
                            <img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div onclick="goprofile()" class="profile pill pillactive">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <img id="prof_back" onclick="goprofile()" src="{% static '/images/backbtn.svg'%}" alt="">
                </div>
                <div class="middle">
                    <h3>My Reviews</h3>
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic_black.svg'%}" alt="">
					</div>
                </div>
            </div>



        </nav>

    </header>

    {% if reviews %}
    <input type="checkbox" id="ChekBox" placeholder="jj" checked>
    {% else %}
    <input type="checkbox" id="ChekBox" placeholder="jj">
    {% endif %}
    <div class="wr_empty">
        <div class="empty_fav">
            <h1>No Reviews <span>Yet</span></h1>
        </div>
    </div>

    <main>
        <section class="section1">
            <div class="wrapper ordwrpper">

                <h1 class="title">My Reviews</h1>

                <div class="main_or_wr disfle">
                    {% if reviews %}
                    {% for review in reviews %}
                    <div class="cart_item">
                        <div class="top">
                            <div onclick="location.href='{{review.product.get_url}}'" class="item_left">
                                <img src="{{review.product.images.url}}" alt="">
                            </div>
                            <div class="item_right">
                                <div class="name_wrap">
                                    <h3>{{review.product.product_name}}</h3>
                                    <h2></h2>
                                </div>
                                <div class="price_wrap">
                                    <div class="prices">
                                        <h1>₹{{review.product.selling_price}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break">

                        </div>
                        <div class="middle">
                            <div class="rating">
                                <span><i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o{% endif %}"></i></span>
                                <span><i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o{% endif %}"></i></span>
                                <span><i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o{% endif %}"></i></span>
                                <span><i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o{% endif %}"></i></span>
                                <span><i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o{% endif %}"></i></span>
                                <span style="font-size: 14px; color: #808080;">( {{review.rating}} )</span>
                            </div>
                            <h2 class="date">23/03/2023</h2>
                        </div>
                        <div class="break">

                        </div>
                        <p style="margin: 0;">{{review.subject}}</p>
                        <p style="margin-top: -10px;" class="bottom">{{review.review}}</p>
                    </div>
                    {% endfor %}
                    {% else %}
                    No reviews yet
                    {% endif %}
                </div>
            </div>
        </section>
    </main>




    <style>
        .cart_item {
            flex-direction: column;
        }
        .rating i{
            font-size: 14px;
            color: #ffb503;
        }
        .item_right{
            justify-content: center;
            gap: 10px;
        }
    </style>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/profile.js'%}"></script>

    {% include 'includes/links.html' %}


</body>


</html>