{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Hari Babu" />
	<meta name="description" content="Kalyani Autospares Profile Page" />
	<meta name="keywords" content="Food, Restaurant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Kalyani Autospares | Change Password</title>
	<!-- CSS -->
	<link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
	<link href="{% static 'css/profilestyle.css' %}" rel="stylesheet">
	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

	<style>
		* {
			cursor: url("{% static '/images/cursor.svg' %}"),
			auto !important;
		}
	</style>

	<!-- slider -->

	<link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div class="left">
                    <img class="imagelogo" onclick="gohome()" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" onclick="gohome()" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div class="home pill">
                            <img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div onclick="goprofile()" class="profile pill pillactive">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <img id="prof_back" onclick="goprofile()" src="{% static '/images/backbtn.svg'%}" alt="">
                </div>
                <div class="middle">
                    <h3>My info</h3>
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic_black.svg'%}" alt="">
					</div>
                </div>
            </div>



        </nav>

    </header>

    <main>
        <section class="section1">
            <div class="wrapper ordwrpper myinf">

                <h1 class="title">Change Password</h1>
                <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="main_or_wr disfle">
                
                        <div id="curpwdwrp" class="name wrpp">
                            <h4>Current Password</h4>
                            <input id="password-input" name="current_password" type="password" placeholder="enter password" required>
                            <div id="toggle-button"><img id="toggleimg" src="{% static '/images/togglehide.svg'%}" alt="" onclick="togglePasswordVisibility()"></div>
                        </div>
                
                        <div id="newpwdwrp" class="name wrpp">
                            <h4>Create New Password</h4>
                            <input id="new-password-input" name="new_password" type="password" placeholder="enter password" required>
                            <div id="toggle-button"><img id="toggleimg" src="{% static '/images/togglehide.svg'%}" alt="" onclick="togglePasswordVisibilityt(this)"></div>
                        </div>

                        <div id="conpwdwrp" class="name wrpp">
                            <h4>Confirm New Password</h4>
                            <input id="confirm-password-input" name="confirm_password" type="password" placeholder="enter password" required>
                        </div>
                
                        <div class="break_info">
                
                        </div>
                
                
                    </div>
                    <button id="saveinfo" type="submit" style="display: none;"></button>
                </form>
                
                
                <div class="btn_save_info">SAVE INFO</div>
            </div>
            
        </section>
        
        

    </main>


    <style>
        #note{
            color: #B3B3B3;
            font-size: 12px;
        }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js'%}"></script>
	<script src="{% static 'js/slick.js'%}"></script>
	<script src="{% static 'js/profile.js'%}"></script>

	{% include 'includes/links.html' %}

    <script>
        function resetpassword() {
            location.href = "{% url 'forgotPassword' %}?email={{user.email}}"
        }

        function togglePasswordVisibilityt(button) {

            const new_pass_in = document.getElementById("new-password-input");
            const confirm_pass_in = document.getElementById("confirm-password-input");

            if (new_pass_in.type === "password") {
                new_pass_in.type = "text";
                confirm_pass_in.type = "text";
                button.src = "{% static '/images/togglevisible.svg'%}";
            } else {
                new_pass_in.type = "password";
                confirm_pass_in.type = "password";
                button.src = "{% static '/images/togglehide.svg'%}";
            }

        }
    </script>


</body>


</html>