{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares Forgot Password Page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | Forgot password</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginemailpwdstyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    

    <section id="top" class="containermain">
        <div onclick="gohome()" id="mainlogo" class="mainlogo">
            <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
            <img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
        </div>
        <h1 class="heading">Forgot Password<br>Enter mail to get link</h1>
        {% include 'includes/alerts.html' %}
        <form action="{% url 'forgotPassword' %}" method="POST">
            {% csrf_token %}
            <div class="login_cred">
                <div id="emailwrp" class="email_wr wrpp">
                    <h4>Email</h4>
                    <input id="email-input" name="email" type="email" placeholder="enter email">
                    <small id="email_err" style="display: none;">Enter valid email</small>
                </div>
                <div class="forgot_wr">
                    <h4>got Password? <a href="{% url 'login' %}"><span>login</span></a></h4>
                </div>
                <button id="login_button_hidden" type="submit" style="display: none;"></button>
                <div onclick="validateform()" class="login_bt sendmail">
                    <h3>Send Mail</h3>
                </div>
                <div class="sign_up_wr">
                    <h4>Don’t have an account <span><a href="{% url 'register' %}">Sign Up</a></span> </h4>
                </div>
            </div>
        </form>
        <div class="bottom">
            <h4>By continuing, you agree to our <span><a href="#">Terms of use</a></span> and <span><a href="#">Privacy Policy</a></span></h4>
        </div>
    </section>

    


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/loginemailpwd.js'%}"></script>

    {% include 'includes/links.html' %}



</body>

</html>