{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Hari Babu" />
	<meta name="description" content="Kalyani Autospares Profile Page" />
	<meta name="keywords" content="Food, Restaurant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Kalyani Autospares | My info</title>
	<!-- CSS -->
	<link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
	<link href="{% static 'css/profilestyle.css' %}" rel="stylesheet">
	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

	<style>
		* {
			cursor: url("{% static '/images/cursor.svg' %}"),
			auto !important;
		}
	</style>

	<!-- slider -->

	<link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>


    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div class="left">
                    <img class="imagelogo" onclick="gohome()" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" onclick="gohome()" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div class="home pill">
                            <img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div class="profile pill pillactive">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <!-- <img id="backBtn" src="{% static '/images/backbtn.svg'%}" alt=""> -->
                </div>
                <div class="middle">
                    <h3>My info</h3>
                </div>
                <div class="right">

                </div>
            </div>



        </nav>

    </header>

    <main>
        <section class="section1">
            <div class="wrapper ordwrpper myinf">

                <h1 class="title">My info</h1>
                <form action="{% url 'saveinfo' %}" method="POST">
                    {% csrf_token %}
                    <div class="main_or_wr disfle">
                
                        <h3 id="heading_pinfo">Personal information</h3>
                
                        <div id="namewrp" class="name wrpp">
                            <h4>First Name</h4>
                            <input name="" id="firstname-input" type="text" placeholder="enter Name" value="{{user.first_name}}"
                                readonly>
                            <div class="btn_edit"><img src="{% static '/images/pencil.svg'%}" alt=""></div>
                        </div>
                
                        <div id="namewrp" class="name wrpp">
                            <h4>First Name</h4>
                            <input name="" id="lastname-input" type="text" placeholder="enter Name" value="{{user.last_name}}"
                                readonly>
                            <div class="btn_edit"><img src="{% static '/images/pencil.svg'%}" alt=""></div>
                        </div>
                
                        <div id="emailwrp" class="email_wr wrpp">
                            <h4>Email</h4>
                            <input id="email-input" type="email" placeholder="enter email" value="{{user.email}}" readonly disabled>
                        </div>
                
                        <div id="phonewrp" class="wrpp wrph">
                            <h4>Phone number</h4>
                            <div class="phone_wr">
                                <h3 id="country_code">+91</h3>
                                <!-- <input type="number" name="ccode" id="country_code" value="91" maxlength="2"> -->
                                <input name="" id="phone-input" type="tel" placeholder="enter phone number" maxlength="10"
                                    value="{{user.phone_number}}" readonly>
                                <div class="btn_edit"><img src="{% static '/images/pencil.svg'%}" alt=""></div>
                            </div>
                        </div>
                
                        <div class="break_info">
                
                        </div>
                
                        <h3 id="heading_pinfo">Password</h3>

                
                        <div onclick="resetpassword()" id="passwrp" class="pass_wr wrpp">
                            reset password
                        </div>

                        <p id="note">click on pencil icon to edit</p>
                
                
                    </div>
                    <button id="saveinfo" style="display: none;"></button>
                </form>
                
                
                <div class="btn_save_info">SAVE INFO</div>
            </div>
            
        </section>
        
        

    </main>


    <style>
        #note{
            color: #B3B3B3;
            font-size: 12px;
        }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js'%}"></script>
	<script src="{% static 'js/slick.js'%}"></script>
	<script src="{% static 'js/profile.js'%}"></script>

	{% include 'includes/links.html' %}

    <script>
        function resetpassword(){
            location.href = "{% url 'forgotPassword' %}?email={{user.email}}"
        }
    </script>


</body>


</html>