{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares Reset Password Page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | Reset password</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginemailpwdstyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

    <section id="top" class="containermain">
        <div onclick="gohome()" id="mainlogo" class="mainlogo">
            <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
            <img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
        </div>
        <h1 class="heading">Reset Password</h1>
        {% include 'includes/alerts.html' %}
        <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
            <div class="login_cred">
                <div id="passwrp" class="pass_wr wrpp">
                    <h4>Password</h4>
                    <input id="password-input" name="password" type="password" placeholder="enter new password" required>
                </div>
                <div id="confirmwrp" class="wrpp">
                    <h4>Re-enter</h4>
                    <input id="confirm-input" name="confirm_password" type="password" placeholder="confirm password" required>
                </div>
                <div></div>
                <button id="update_button_hidden" type="submit" style="display: none;"></button>
                <div onclick="clickupdatebtn()" class="login_bt update">
                    <h3>Update</h3>
                </div>
            </div>
        </form>
    </section>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/loginemailpwd.js'%}"></script>

    {% include 'includes/links.html' %}



</body>

</html>