{% load static %}

<script>
    function gohome() {
        location.href = "{% url 'home' %}"
    }

    function gocart() {
        location.href = "{% url 'cart' %}"
    }
    function gocheckout(){
        location.href = "{% url 'checkout' %}"
    }

    function gofav() {
        location.href = "{% url 'favorites' %}"
    }

    function login(){
        location.href = "{% url 'login' %}"
    }

    function gostore(){
        location.href = "{% url 'store' %}"
    }

    function saveinfo(){
        location.href = "{% url 'saveinfo' %}"
    }

    function searchBy(name) {
        var url = "{% url 'search' %}?keyword=" + name;
        location.href = url;
    }

    function gotospares() {
        var url = "{% url 'products_by_category' 'spares'%}";
        location.href = url;
    }

    function gotoaccessories() {
        var url = "{% url 'products_by_category' 'accessories'%}";
        location.href = url;
    }

    function goprofile() {
        location.href= "{% url 'profile' %}";
    }
    function gomyaddr(){
        location.href= "{% url 'myaddresses' %}";
    }
    function gomyordrs(){
        location.href= "{% url 'myorders' %}";
    }
    function goreviews(){
        location.href= "{% url 'myreviews' %}";
    }

    function addaddress(){
        location.href= "{% url 'add_address' %}";
    }



    const searchbarbig = document.getElementById("search_bar");
    const searchbarsmall = document.getElementById("inputHolder")

    searchbarbig.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            searchresult(true);
        }
    });

    searchbarsmall.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            searchresult(false);
        }
    });

    function searchresult(key_i) {

        if (key_i) {
            if (searchbarbig.value != "") {
                var url = "{% url 'search' %}?keyword=" + searchbarbig.value;
                location.href = url;
            }
        }
        else {
            if (searchbarsmall.value != "") {
                var url = "{% url 'search' %}?keyword=" + searchbarsmall.value;
                location.href = url;
            }
        }
        vibrate();

    }

    let drag = false;

    document.addEventListener(
        'mousedown', () => drag = false);

    document.addEventListener(
        'mousemove', () => drag = true);



    const products_all = document.querySelectorAll('.product');
    products_all.forEach(product => {
        product.addEventListener('click', () => {
            keyww = product.getAttribute("data-product-url");
            if (!drag) {
                location.href = keyww;
            }
        });
    });


    function togglePasswordVisibility() {

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleimg.src = "{% static '/images/togglevisible.svg'%}";
        } else {
            passwordInput.type = "password";
            toggleimg.src = "{% static '/images/togglehide.svg'%}";
        }

    }



</script>