{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares Cart Page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | Cart</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/cartstyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div class="left">
                    <img class="imagelogo" onclick="gohome()" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" onclick="gohome()" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div class="cart_ic">
                        <p class="cartitems">{{ cart_items_no }}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                        <h4>cart</h4>
                    </div>
                    <div class="tab_nav">
                        <div class="home pill">
                            <img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div onclick="goprofile()" class="profile pill">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <img id="backBtn" src="{% static '/images/backbtn.svg'%}" alt="">
                </div>
                <div class="middle">
                    <h3>Cart</h3>
                </div>
                <div class="right">

                </div>
            </div>



        </nav>

    </header>


    {% if quantity != 0 %}
    <input type="checkbox" id="ChekBox" placeholder="jj" checked>
    {% else %}
    <input type="checkbox" id="ChekBox" placeholder="jj">
    {% endif %}
    <div class="wr_empty">
        <div class="empty_fav">
            <div class="pics">
                <img id="left_top" src="{% static '/images/product_img_1.png' %}" alt="" data-value="6"
                    class="levitate">
                <img id="middle" src="{% static '/images/cartemptycart.svg'%}" alt="" data-value="3" class="levitate">
                <img id="bottom_right" src="{% static '/images/product_img_2.png'%}" alt="" data-value="6"
                    class="levitate">
            </div>
            <h1>Your Cart is <span>empty</span></h1>
            <a style="text-decoration: none;" href="{% url 'store' %}">
                <p>browse items</p>
            </a>
        </div>
    </div>

    <main>
        <section class="topmar">

        </section>

        <section class="section1">
            <div class="sec1_left">
                <div class="heading">
                    <h1>Your Cart</h1>
                </div>

                <div class="cart_items_wrap">
                    {% for cart_item in cart_items %}
                    <div class="cart_item">
                        <div class="item_left">
                            <img onclick="location.href='{{cart_item.product.get_url}}'"
                                src="{{cart_item.product.images.url}}" alt="">
                        </div>
                        <div class="item_right">
                            <div class="name_wrap">
                                <h3 onclick="location.href='{{cart_item.product.get_url}}'">
                                    {{cart_item.product.product_name}}</h3>
                                <img id="garbage"
                                    onclick="delete_from_cart('{{cart_item.product.id}}','{{cart_item.id}}')"
                                    src="{% static '/images/garbage.svg' %}" alt="" class="garbage">
                            </div>
                            <h3 style="font-size: 12px;">
                                {% if cart_item.variations.all %}
                                {% for item in cart_item.variations.all %}
                                {{ item.variation_category }} : {{ item.variation_value }}
                                {% endfor %}
                                {% endif %}
                            </h3>
                            <h3 style="font-size: 12px; margin-top: 10px; color: #949494;">₹{{cart_item.product.selling_price}} each</h3>
                            <div class="price_wrap">
                                <div class="prices">
                                    <h1>₹{{cart_item.sub_total}}</h1>
                                </div>
                                <div class="items">
                                    <form action="{% url 'minus_cart' %}" method="GET">
                                        <input type="hidden" name="cart_item_id" value="{{cart_item.id}}">
                                        <input type="hidden" name="product_id" value="{{cart_item.product.id}}">
                                        <button id="btn_button" type="submit"><img class="minus_btn"
                                                src="{% static '/images/minuscart.svg' %}" alt=""></button>
                                    </form>
                                    <h3 class="item_no" data-product-id="{{cart_item.product.id}}"
                                        data-item-qty="{{cart_item.quantity}}"></h3>
                                    <form action="{% url 'add_cart' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{cart_item.product.id}}">
                                        <input type="hidden" name="quantity" value="1">
                                        {% if cart_item.variations.all %}
                                        {% for item in cart_item.variations.all %}
                                        <input type="hidden" name="color" value="{{ item.variation_value }}">
                                        {% endfor %}
                                        {% endif %}

                                        <button id="btn_button" type="submit"><img class="plus_btn"
                                                src="{% static '/images/pluscart.svg' %}" alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sec1_right">
                <div class="cart_total">
                    <div class="items_total totitem">
                        <h3 class="light">Cart Total</h3>
                        <h3>₹{{total}}</h3>
                    </div>
                    <div class="extras totitem">
                        <h3 class="light">Taxes & charges</h3>
                        <h3>₹0</h3>
                    </div>
                    <div class="total totitem">
                        <h2>TOTAL</h2>
                        <h2 id="pricemain">₹{{total}}</h2>
                    </div>
                </div>
                <div onclick="gocheckout()" class="chekout">
                    <h1>chekout</h1>
                </div>

            </div>
        </section>
    </main>





    {% include 'includes/links.html' %}





    <style>
        #btn_button {
            border: 0;
            background: #ffffff00;
        }
    
        .cart_ic {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: white;
            gap: 10px;
            border: 10px solid black;
            padding: 5px 10px;
        }
    
        .cart_ic img {
            mix-blend-mode: difference;
        }

        .cartitems{
            right: -5px;
            top: -8px;
        }
    </style>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/cart.js'%}"></script>

    <script>

        const cart_items_wrap = document.querySelector('.cart_items_wrap');
        const main_wrap = document.querySelector(".sec1_left");

        window.addEventListener('load', setqty())

        function setqty() {
            txtno.forEach(function (txts, i) {
                var items = txts.getAttribute("data-item-qty");
                if (items < 10) {
                    txts.innerHTML = "0" + items;
                }
                else {
                    txts.innerHTML = items;
                }
            });


            if (cart_items_wrap.scrollHeight + 75 < main_wrap.clientHeight) {
                main_wrap.style.justifyContent = "center";
            }

        }

        // minus.forEach(function (mins, i) {

        //     mins.addEventListener('click', () => {
        //         productId = txtno[i].getAttribute("data-product-id");
        //         var url = "{% url 'minus_cart' %}?product_id=" + productId;
        //         location.href = url;
        //     });

        // });


        // plus.forEach(function (pls, i) {

        //     pls.addEventListener('click', () => {

        //         productId = txtno[i].getAttribute("data-product-id");

        //         var url = "{% url 'add_cart' %}?product_id=" + productId + "&quantity=1";
        //         location.href = url;

        //     })

        // });

        function delete_from_cart(productId, cart_id) {
            var url = "{% url 'delete_cart' %}?product_id=" + productId + "&cart_item_id=" + cart_id;
            location.href = url;
        }

    </script>


</body>


</html>