{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Hari Babu" />
	<meta name="description" content="Kalyani Autospares Favorite's Page" />
	<meta name="keywords" content="Food, Restaurant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Kalyani Autospares | Favorite's</title>
	<!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/favoritesstyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

	{% include 'includes/preloader.html' %}

	<header>
		<nav id="navbar">
			<div id="nav_tot" class="topnav">
				<div onclick="gohome()" class="left">
					<img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
					<img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
				</div>
				<div class="right">
					<div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic.svg'%}" alt="">
					</div>
					<div class="tab_nav">
						<div class="home pill">
							<img onclick="gohome()" src="{% static '/images/home_ic.svg'%}" alt="">
							<h4>HOME</h4>
						</div>
						<div onclick="goprofile()" class="profile pill">
							<img src="{% static '/images/profile_ic.svg'%}" alt="">
							<h4>PROFILE</h4>
						</div>
						<div class="favorites pill pillactive">
							<img src="{% static '/images/fav_ic.svg'%}" alt="">
							<h4>FAVORITE'S</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="statusbar">
				<div id="sbleft" class="left">
					<img id="backBtn" src="{% static '/images/backbtn.svg'%}" alt="">
				</div>
				<div class="middle">
					<h3>Favorite's</h3>
				</div>
				<div class="right">
					<div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic_black.svg'%}" alt="">
					</div>
				</div>
			</div>



		</nav>



	</header>


    {% if items != 0 %}
    <input type="checkbox" id="ChekBox" placeholder="jj" checked>
    {% else %}
    <input type="checkbox" id="ChekBox" placeholder="jj">
    {% endif %}
	<div class="wr_empty">
		<div class="empty_fav">
			<h1>Your list is <span>empty</span></h1>
			<a style="text-decoration: none;" href="{% url 'store' %}">
                <p>browse items</p>
            </a>
			<div class="pics">
				<img id="left_top" src="{% static '/images/product_img_1.png'%}" alt="" data-value="6" class="levitate">
				<img id="middle" src="{% static '/images/favoriteemptycart.svg'%}" alt="" data-value="3" class="levitate">
				<img id="bottom_right" src="{% static '/images/product_img_2.png'%}" alt="" data-value="6" class="levitate">
			</div>
		</div>
	</div>

	<main>
		<section class="topmar">

		</section>

		<section class="section1">
			<div class="heading">
				<h1>Your Favorite's</h1>
			</div>

			<div class="fav_items_wrap">
				{% if items != 0 %}
				{% for favorite in favorites_items %}
				<form action="{% url 'add_cart' %}" method="POST">
				{% csrf_token %}
					<input type="hidden" name="product_id" value="{{ favorite.product.id }}">
					<input type="hidden" name="quantity" value="1">
					<input type="hidden" name="addedfromfav" value="1">
					<div class="fav_item">
						<div class="item_left">
							<img onclick="location.href='{{favorite.product.get_url}}'" src="{{favorite.product.images.url}}" alt="">
						</div>
						<div class="item_right">
							<div class="name_wrap">
								<h3 onclick="location.href='{{favorite.product.get_url}}'" >{{favorite.product.product_name}}</h3>
								<img onclick="delete_favorite(this)" data-product-id="{{favorite.product.id}}" src="{% static '/images/garbage.svg'%}" alt="" class="garbage">
							</div>
							{% if favorite.product.variation_set.all|length > 0 %}
								<div class="colors">
									<h3>colors:</h3>
									<div class="rad_color">
										{% for i in favorite.product.variation_set.all %}
										<input type="radio" name="color" value="{{i.variation_value}}">
										{% endfor %}
									</div>
								</div>
							{% endif %}
							<div class="price_wrap">
								<div class="prices">
									<p>₹{{favorite.product.price}}</p>
									<h1>₹{{favorite.product.selling_price}}</h1>
								</div>
								<button type="submit" id="addtocart_btn" style="display: none;" ></button>
								<div onclick="add_to_cart(this)" data-product-id="{{favorite.product.id}}" class="add_cart">
									<img src="{% static '/images/cart_ic.svg'%}" alt="">
									<h2>Add</h2>
								</div>
							</div>
						</div>
					</div>
				</form>
				{% endfor %}
				{% endif %}
			</div>
		</section>
	</main>





	{% include 'includes/links.html' %}








	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/favourites.js'%}"></script>

	<style>
		input[name="color"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: none;
		}
	
		.fav_items_wrap{
			height: max-content;
		}

		.fav_items_wrap .item_right{
			gap: 10px;
			height: max-content;
		}
	
	
		input[name="color"]:checked {
			outline: 3px solid #214CDB;
		}
	</style>

	<script>

		var color_rad = document.querySelectorAll('input[name="color"]');
		var inp = true;

		color_rad.forEach(rads => {
			if (inp) {
				rads.checked = true;
				inp = false;
			}
			var color = rads.value;
			rads.style.backgroundColor = color;
		});

		function add_to_cart(object) {
			document.getElementById("addtocart_btn").click();
		}

		function delete_favorite(object) {
			productId = object.getAttribute("data-product-id");
			var url = "{% url 'delete_favorites' %}?product_id=" + productId;
			location.href = url;
		}

	</script>


</body>

<div class="mbnavpill">
    <div class="tab_nav">
        <div onclick="gohome()" class="home pill">
            <img src="{% static '/images/home_ic.svg' %}" alt="">
            <h4>HOME</h4>
        </div>
        <div onclick="goprofile()" class="profile pill">
            <img src="{% static '/images/profile_ic.svg' %}" alt="">
            <h4>PROFILE</h4>
        </div>
        <div class="favorites pill pillactive">
            <img src="{% static '/images/fav_ic.svg' %}" alt="">
            <h4>FAVORITE'S</h4>
        </div>
    </div>
</div>


</html>