{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Hari Babu" />
	<meta name="description" content="Kalyani Autospares Home Page" />
	<meta name="keywords" content="Food, Restaurant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Kalyani Autospares | Home</title>
	<!-- CSS -->
	<link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
	<link href="{% static 'css/homepagestyle.css' %}" rel="stylesheet">
	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

	<style>
		* {
			cursor: url("{% static '/images/cursor.svg' %}"),
			auto !important;
		}
	</style>

	<!-- slider -->

	<link rel="stylesheet" type="text/css" href="{% static '/css/slick.css' %}" />

</head>

<body>

	{% include 'includes/preloader.html' %}

	<header>
		<nav id="navbar">
			<div id="nav_tot" class="topnav">
				<div class="left">
					<img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
					<img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
				</div>
				<div class="right">
					<div class="container">
						<input id="search_bar" placeholder="Search Something" required="" class="input" name="text"
							type="search">
						<div onclick="searchresult(true)" class="icon">
							<img src="{% static '/images/search_ic.svg'%}" alt="">
						</div>
					</div>
					<div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic.svg'%}" alt="">
					</div>
					<div class="tab_nav">
						<div class="home pill pillactive">
							<img src="{% static '/images/home_ic.svg'%}" alt="">
							<h4>HOME</h4>
						</div>
						{% if user.id %}
						<div onclick="goprofile()" class="profile pill">
							<img src="{% static '/images/profile_ic.svg'%}" alt="">
							<h4>PROFILE</h4>
						</div>
						<div onclick="gofav()" class="favorites pill">
							<img src="{% static '/images/fav_ic.svg'%}" alt="">
							<h4>FAVORITE'S</h4>
						</div>
						{% else %}
						<div onclick="login()" class="login pill">
							<h2>Login</h2>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="statusbar">
				<div id="sbleft" class="left">
					<div id="sbcont" class="container">
						<input id="inputHolder" placeholder="Search Something" required="" class="input" name="text"
							type="search">
						<div onclick="searchresult(false)" class="icon">
							<img src="{% static '/images/search_ic_black.svg'%}" alt="">
						</div>
					</div>
				</div>
				<div class="middle">
					<img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
					<img id="name_logo" class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
				</div>
				<div class="right">
					<div onclick="gocart()" class="cart_ic">
						<p class="cartitems">{{cart_items_no}}</p>
						<img src="{% static '/images/cart_ic_black.svg'%}" alt="">
					</div>
				</div>
			</div>



		</nav>



	</header>



	<main>
		<section class="topmar">

		</section>
		<section class="section1">
			<div class="sec1_left">
				<div class="slider_wrap">
					<div class="slide">
						<div class="imagewraper">
							<img class="imgs" src="{% static '/images/Screenshot_4.jpg'%}" alt="">
						</div>
					</div>
					<div class="slide">
						<div class="imagewraper">
							<img class="imgs" src="{% static '/images/Screenshot_4.jpg'%}" alt="">
						</div>
					</div>
					<div class="slide">
						<div class="imagewraper">
							<img class="imgs" src="{% static '/images/Screenshot_4.jpg'%}" alt="">
						</div>
					</div>
					<div class="slide">
						<div class="imagewraper">
							<img class="imgs" src="{% static '/images/Screenshot_4.jpg'%}" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="sec1_right">
				<div class="category_wrap">
					<h3 class="title"> Shop By Category </h3>
					<div class="categories">
						<div onclick="searchBy('engine')" class="item_category">
							<img src="{% static '/images/enginespare.png'%}" alt="">
							<h4>Engine Spares</h4>
						</div>
						<div onclick="searchBy('head')" class="item_category">
							<img src="{% static '/images/headspares.png'%}" alt="">
							<h4>Head Spares</h4>
						</div>
						<div onclick="searchBy('tail')" class="item_category">
							<img src="{% static '/images/tailspare.png'%}" alt="">
							<h4>Tail Spares</h4>
						</div>
						<div onclick="searchBy('tank')" class="item_category">
							<img src="{% static '/images/tankspares.png'%}" alt="">
							<h4>Tank Spares</h4>
						</div>
						<div onclick="searchBy('wheel')" class="item_category">
							<img src="{% static '/images/wheelspare.png'%}" alt="">
							<h4>Wheel Spares</h4>
						</div>
						<div onclick="searchBy('body')" class="item_category">
							<img src="{% static '/images/bodyspare.png'%}" alt="">
							<h4>Body Spares</h4>
						</div>
						<div onclick="gotoaccessories()" class="item_category">
							<img src="{% static '/images/bikeaccessories.png'%}" alt="">
							<h4>Accessories</h4>
						</div>
						<div onclick="searchBy('gear')" class="item_category">
							<img src="{% static '/images/riding gear.png'%}" alt="">
							<h4>Riding Gear</h4>
						</div>
						<div onclick="gostore()" class="item_category">
							<img src="{% static '/images/store.png'%}" alt="">
							<h4>Store</h4>
						</div>
					</div>
				</div>
				<div class="bike_wrap">
					<h3> shop by bike </h3>
					<div class="bikes draggable_sl">
						<div class="item_bike">
							<img src="{% static '/images/re-interceptor 1.png'%}" alt="">
							<h3>Interceptor</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-continental 1.png'%}" alt="">
							<h3>continental Gt</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-supermeteor650 1.png'%}" alt="">
							<h3>Super meteor 650</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-Himalayan.png'%}" alt="">
							<h3>Himalayan</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-Scram411.png'%}" alt="">
							<h3>Scram 411</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-meteor 350.png'%}" alt="">
							<h3>Meteor 350</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-classic 350.png'%}" alt="">
							<h3>Classic 350</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-Hunter350.png'%}" alt="">
							<h3>Hunter 350</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-Bullet350.png'%}" alt="">
							<h3>Bullet 350</h3>
						</div>
						<div class="item_bike">
							<img src="{% static '/images/re-Bulletes.png'%}" alt="">
							<h3>Bullet Es</h3>
						</div>


					</div>
					<div class="faders">
						<div class="fade_l">

						</div>
						<div class="fade_r">

						</div>
					</div>

				</div>
			</div>
		</section>


		<section class="section2">
			<div class="title">
				<h3>New Arrivals</h3>
				<div class="more">
					<a href="{% url 'store' %}">
						<h4>more</h4>
					</a>
					<a href="{% url 'store' %}"><img src="{% static '/images/arrow.svg'%}" alt=""></a>
				</div>
			</div>

			<div class="products draggable_sl">
				{% for product in products %}
				<div class="product" data-product-url="{{ product.get_url }}">
					<div class="product_img">
						<img class="product_image" src="{{ product.images.url }}" alt="">
					</div>
					<h2 style="text-transform: capitalize;" class="product_title">{{product.product_name}}</h2>
					<h1 class="price">₹{{product.selling_price}} 
						{% if product.price > product.selling_price %}
						<span>₹{{product.price}}</span>
						</h1>
						<p>({{product.discount}})</p>
						{% else %}
						</h1>
						{% endif %}
						{% if product.ratings_count > 0 %}
						<div class="rating_wrap">
							<div class="rating">
								<span><i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o{% endif %}"></i></span>
							</div>
							<h4 class="rating_count">({{product.ratings_count}} Review{% if product.ratings_count > 1 %}s{% endif %})</h4>
						</div>
						{% endif %}
				</div>
				{% endfor %}
			</div>

			<div class="bike_accessories">
				<div class="top"></div>
			</div>

			<div class="title">
				<h3>Spares</h3>
				<div class="more">
					{% for categories in links %}
					{% if categories.slug|stringformat:"s" == "spares"%}
					<a href="{{categories.get_url}}">
						<h4>more</h4>
					</a>
					<a href="{{categories.get_url}}"><img src="{% static '/images/arrow.svg'%}" alt=""></a>
					{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="products sapres draggable_sl">
				{% for product in products %}
				{% if product.category.slug|stringformat:"s" == "spares"%}
				<div class="product" data-product-url="{{ product.get_url }}">
					<div class="product_img">
						<img class="product_image" src="{{ product.images.url }}" alt="">
					</div>
					<h2 style="text-transform: capitalize;" class="product_title">{{product.product_name}}</h2>
					<h1 class="price">₹{{product.selling_price}} 
						{% if product.price > product.selling_price %}
						<span>₹{{product.price}}</span>
						</h1>
						<p>({{product.discount}})</p>
						{% else %}
						</h1>
						{% endif %}
						{% if product.ratings_count > 0 %}
						<div class="rating_wrap">
							<div class="rating">
								<span><i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o{% endif %}"></i></span>
							</div>
							<h4 class="rating_count">({{product.ratings_count}} Review{% if product.ratings_count > 1 %}s{% endif %})</h4>
						</div>
						{% endif %}
				</div>
				{% endif %}
				{% endfor %}
			</div>

			<div class="title">
				<h3>Accessories</h3>
				<div class="more">
					{% for categories in links %}
					{% if categories.slug|stringformat:"s" == "accessories"%}
					<a href="{{categories.get_url}}">
						<h4>more</h4>
					</a>
					<a href="{{categories.get_url}}"><img src="{% static '/images/arrow.svg'%}" alt=""></a>
					{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="products accessories draggable_sl">
				{% for product in products %}
				{% if product.category.slug|stringformat:"s" == "accessories"%}
				<div class="product" data-product-url="{{ product.get_url }}">
					<div class="product_img">
						<img class="product_image" src="{{ product.images.url }}" alt="">
					</div>
					<h2 style="text-transform: capitalize;" class="product_title">{{product.product_name}}</h2>
					<h1 class="price">₹{{product.selling_price}} 
						{% if product.price > product.selling_price %}
						<span>₹{{product.price}}</span>
						</h1>
						<p>({{product.discount}})</p>
						{% else %}
						</h1>
						{% endif %}
						{% if product.ratings_count > 0 %}
						<div class="rating_wrap">
							<div class="rating">
								<span><i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o{% endif %}"></i></span>
								<span><i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o{% endif %}"></i></span>
							</div>
							<h4 class="rating_count">({{product.ratings_count}} Review{% if product.ratings_count > 1 %}s{% endif %})</h4>
						</div>
						{% endif %}
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</section>


		<section class="section3">
			<div class="ribbon">
				<img src="{% static '/images/restoration_section_ribbon.svg' %}" alt="">
			</div>

			<div class="restor_main">
				<div class="front">
					<img src="{% static '/images/Screenshot_1.png'%}" alt="">
					<img src="{% static '/images/Screenshot_2.png'%}" alt="">
					<img src="{% static '/images/Screenshot_3.png'%}" alt="">
					<img src="{% static '/images/Screenshot_5.png'%}" alt="">
				</div>
				<div class="back">
					<h1>Restoration<br>custom Builds</h1>
					<h1 class="blue">Restoration<br>custom Builds</h1>
					<h1>Restoration<br>custom Builds</h1>
				</div>
			</div>


			<div class="foo_sociallinks">
				<div class="link">
					<img src="{% static '/images/down-arrow 1.png'%}" alt="">
					<a href="">MAKE A CUSTOM BUILD</a>
				</div>
				<div class="link">
					<img src="{% static '/images/down-arrow 1.png'%}" alt="">
					<a href="">RESTORE YOUR BIKE</a>
				</div>
			</div>




		</section>
	</main>




	{% include 'includes/footer.html' %}
	{% include 'includes/links.html' %}


	<style>
		.product p {
			font-size: 12px;
			margin: 0;
			color: #00c12d;
		}
		.rating_wrap i{
			font-size: 14px;
			color: #ffb503;
		}
		.rating_wrap{
			display: flex;
			flex-direction: column;
		}
	</style>



	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/homepage.js' %}"></script>

	<script>

		

		const bikes_all = document.querySelectorAll('.item_bike');
		bikes_all.forEach(bike => {
			bike.addEventListener('click', () => {

				kew_bike=bike.children[1].innerHTML;
				if (!drag) {
					searchBy(kew_bike);
				}

			});
		});


	</script>



</body>

<div class="mbnavpill">
	<div class="tab_nav">
		<div class="home pill pillactive">
			<img src="{% static '/images/home_ic.svg' %}" alt="">
			<h4>HOME</h4>
		</div>
		{% if user.id %}
		<div onclick="goprofile()" class="profile pill">
			<img src="{% static '/images/profile_ic.svg'%}" alt="">
			<h4>PROFILE</h4>
		</div>
		<div onclick="gofav()" class="favorites pill">
			<img src="{% static '/images/fav_ic.svg'%}" alt="">
			<h4>FAVORITE'S</h4>
		</div>
		{% else %}
		<div onclick="login()" class="login pill">
			<h2>Login</h2>
		</div>
		{% endif %}
	</div>
</div>

</html>