{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares Product Page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | product</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/customstar.css' %}" rel="stylesheet">
    <link href="{% static 'css/productpagestyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    {% include 'includes/preloader.html' %}

    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div onclick="gohome()" class="left">
                    <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div class="container">
                        <input id="search_bar" placeholder="Search Something" required="" class="input" name="text" type="search">
                        <div onclick="searchresult(true)" class="icon">
                            <img src="{% static '/images/search_ic.svg'%}" alt="">
                        </div>
                    </div>
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div onclick="gohome()" class="home pill pillactive">
                            <img src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        {% if user.id %}
						<div onclick="goprofile()" class="profile pill">
							<img src="{% static '/images/profile_ic.svg'%}" alt="">
							<h4>PROFILE</h4>
						</div>
						<div onclick="gofav()" class="favorites pill">
							<img src="{% static '/images/fav_ic.svg'%}" alt="">
							<h4>FAVORITE'S</h4>
						</div>
						{% else %}
						<div onclick="login()" class="login pill">
							<h2>Login</h2>
						</div>
						{% endif %}
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <div id="sbcont" class="container">
                        <input id="inputHolder" placeholder="Search Something" required="" class="input" name="text"
                            type="search">
                        <div onclick="searchresult(false)" class="icon">
                            <img src="{% static '/images/search_ic_black.svg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div onclick="gohome()" class="middle">
                    <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
                    <img id="name_logo" class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items_no}}</p>
                        <img src="{% static '/images/cart_ic_black.svg'%}" alt="">
                    </div>
                </div>
            </div>



        </nav>



    </header>



    <main>
        <section class="topmar">

        </section>

        <section class="section1">
            <div class="sec1_left">
                <div class="slider_wrap">
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>
                    {% for i in product_gallery %}
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{i.image.url}}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <form action="{% url 'add_cart' %}" method="POST">
                {% csrf_token %}
                
                <input type="hidden" name="product_id" value="{{single_product.id}}">
                <input type="hidden" name="quantity" value="1" id="quantity_lay">


                <div class="sec1_right">

                    <h1 style="text-transform: capitalize;" >{{single_product.product_name}}</h1>
                    <h2 id="compatible_top" style="text-transform: capitalize;" > <span>compatible for :</span> {{single_product.compatible_for}}</h2>
                    <div class="details">
                        <p>{{single_product.description}}</p>
                        <div class="det_container">
                            <div class="price_reviews">
                                <div class="price_details">
                                    {% if single_product.price <= single_product.selling_price %}
                                    {% else %}
                                    <h3 class="mrp">₹{{single_product.price}}</h3>
                                    <p>({{single_product.discount}})</p>
                                    {% endif %}
                                    <h2 class="selling_price">₹{{single_product.selling_price}}</h2>
                                </div>
                                {% if reviews %}
                                <div class="reviews_detail">
                                    <span><i class="fa fa-star {% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o{% endif %}" aria-hidden="true"></i></span>
                                    <h3 class="review_no">{{single_product.averageReview}}</h3>
                                    <h3 class="review_count">( {{reviews|length}} Review{% if reviews|length > 1 %}s{% endif %} )</h3>
                                </div>
                                {% endif %}
                            </div>
                            <div class="color_items">
                                {% if single_product.variation_set.all|length > 0 %}
                                <div class="colors">
                                    <h3>colors:</h3>
                                    <div class="rad_color">
                                        {% for i in single_product.variation_set.all %}
                                        <input type="radio" name="color" value="{{i.variation_value}}">
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="items">
                                    <img id="minus_btn" src="{% static '/images/minuscart.svg'%}" alt="">
                                    <h3 id="item_no">01</h3>
                                    <img id="plus_btn" src="{% static '/images/pluscart.svg'%}" alt="">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="benifits">
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/fast-delivery.svg'%}" alt="">
                            </div>
                            <h3>Free<br>delivery</h3>
                        </div>
                        <div class="b_gap">

                        </div>
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/cash-on-delivery.svg'%}" alt="">
                            </div>
                            <h3>Pay on<br>delivery</h3>
                        </div>
                        <div class="b_gap">

                        </div>
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/replacement.svg'%}" alt="">
                            </div>
                            <h3>7 Days<br>replace</h3>
                        </div>
                    </div>
                    <div class="prquality">
                        <div class="prq_wr">
                            <img src="{% static '/images/original.svg'%}" alt="">
                            <h3>Genuine Product</h3>
                        </div>
                        <div class="b_gap"></div>
                        <div class="prq_wr">
                            <img src="{% static '/images/badge.svg'%}" alt="">
                            <h3>Quality Checked</h3>
                        </div>
                    </div>


                    {% if single_product.stock > 0 %}
                    <div class="carttab tabmain">
                    
                        <label id="likecontainer" class="container">
                            {% if not favorite %}
                            <input data-product-id="{{ single_product.id }}" id="like" type="checkbox">
                            {% else %}
                            <input data-product-id="{{ single_product.id }}" id="like" checked type="checkbox">
                            {% endif %}
                            <div id="favou" class="checkmark">
                                <svg viewBox="0 0 256 256">
                                    <rect fill="none" height="256" width="256"></rect>
                                    <path
                                        d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z"
                                        stroke-width="20px" stroke="#FFF" fill="none"></path>
                                </svg>
                            </div>
                        </label>
                        <button type="submit" id="addtocart_btn">
                            <h3>Add To Cart</h3>
                        </button>
                    </div>
                    {% else %}
                    <h3 style="width: 100%; text-align: center; color: #a40000;">Out Of Stock</h3>
                    {% endif %}

                </div>
            </form>
        </section>

        <section class="section2">
            <div class="sec2_left">
                <h3>Details</h3>
                <div class="details">
                    <ul class="names">
                        <li>
                            <h4>Material</h4>
                        </li>
                        <li>
                            <h4>Color</h4>
                        </li>
                        <li>
                            <h4>Compatibility</h4>
                        </li>
                        <li>
                            <h4>Belongs to</h4>
                        </li>
                        <li>
                            <h4>Category</h4>
                        </li>
                        <li>
                            <h4>Part Number</h4>
                        </li>
                    </ul>
                    <ul class="detail">
                        <li>
                            <h4>{{single_product.material}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.color}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.compatible_for}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.belongs_to}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.category}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.part_number}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sec2_right">
                {% if reviews %}
                <div class="reviews_detail">
                    <span><i class="fa fa-star {% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o{% endif %}" aria-hidden="true"></i></span>
                    <h3 class="review_no">{{single_product.averageReview}}</h3>
                    <h3 class="review_count">( {{reviews|length}} Review{% if reviews|length > 1 %}s{% endif %} )</h3>
                </div>
                {% endif %}
                <div class="reviews">
                    <form action="{% url 'submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="user_rev_input">
                            <h3>write a review</h3>
                            <div class="star_wrp">
                                <label for="">Rate this Product</label>
                                <div class="rate">
                                    <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                                    <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                                    <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                                    <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                                    <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                                    <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                                </div>
                            </div>
                            <div class="wrpp">
                                <h4>Review Title</h4>
                                <input name="subject" type="text" placeholder="Enter title">
                            </div>
                            <div class="wrpp">
                                <h4>Review</h4>
                                <textarea name="review" placeholder="Write review here" rows="4" data-gramm="false"
                                    wt-ignore-input="true"></textarea>
                            </div>
                            {% if user.is_authenticated %}
                            {% if orderproduct %}
                            <div class="submit_wrp">
                                <input type="submit" id="submit_review" value="Submit Review">
                            </div>
                            {% else %}
                            <p class="login_p">you must purchase this product to post a review</p>
                            {% endif %}
                            {% else %}
                            <p class="login_p">you must be logged in to post a review. <span><a href="{% url 'login' %}">Login
                                        now</a></span></p>
                            {% endif %}
                            {% include 'includes/alerts.html' %}
            
                        </div>
                    </form>
                    
                    {% if reviews %}
                    <h3>Customer Reviews</h3>
                    {% endif %}
                    {% for review in reviews %}
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">{{review.user.full_name}}</h3>
                            <h3 class="cust_rev_date">{{review.date}}</h3>
                        </div>
                        <div class="rating">
                            <span><i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1%}-o {% endif %}"
                                    aria-hidden="true"></i></span>
                            <span><i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2%}-o {% endif %}"
                                    aria-hidden="true"></i></span>
                            <span><i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3%}-o {% endif %}"
                                    aria-hidden="true"></i></span>
                            <span><i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4%}-o {% endif %}"
                                    aria-hidden="true"></i></span>
                            <span><i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5%}-o {% endif %}"
                                    aria-hidden="true"></i></span>
                        </div>
                        <h2>{{review.subject}}</h2>
                        <p>{{review.review}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if like_products %}
        <section class="section3">
            <div class="title">
                <h3>More for your bike</h3>
                <div class="more">
                    <a href="{% url 'search' %}?keyword={{single_product.compatible_for.bike_name}}">
                        <h4>more</h4>
                    </a>
                    <a href=""><img src="{% static '/images/arrow.svg'%}" alt=""></a>
                </div>
            </div>
            <div class="products draggable_sl">

                {% for product in like_products %}
                {% if single_product.product_name|stringformat:"s" != product.product_name|stringformat:"s"%}
                <div class="product" data-product-url="{{ product.get_url }}">
                    <div class="product_img">
                        <img class="product_image" src="{{ product.images.url }}" alt="">
                    </div>
                    <h2 class="product_title">{{product.product_name}}
                    </h2>
                    <h1 class="price">₹{{product.selling_price}} 
						{% if product.price > product.selling_price %}
						<span>₹{{product.price}}</span>
						</h1>
						<p>({{product.discount}})</p>
						{% else %}
						</h1>
						{% endif %}
                    {% if product.ratings_count > 0 %}
                    <div class="rating_wrap">
                        <div class="rating">
							<span><i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o{% endif %}"></i></span>
							<span><i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o{% endif %}"></i></span>
							<span><i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o{% endif %}"></i></span>
							<span><i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o{% endif %}"></i></span>
							<span><i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o{% endif %}"></i></span>
						</div>
                        <h4 class="rating_count">({{product.ratings_count}} Review{% if product.ratings_count > 1 %}s{% endif %})</h4>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </section>
        {% endif %}











    </main>








    {% include 'includes/footer.html' %}
    {% include 'includes/links.html' %}




    <style>
        
        #compatible_top {
            margin-top: -10px;
            font-size: 16px;
        }
    
        #compatible_top span {
            font-size: 12px;
            color: #000;
        }
    
        input[name="color"] {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
    
        input[name="color"]:checked {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
        }
    
        #addtocart_btn {
            border: none;
            font-family: fugazone;
        }
    
        .wrpp {
            width: 100%;
            padding: 10px;
            background-color: #ECECEC;
            border: 2px solid #fff;
            box-shadow: -4px 4px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
        }
    
        .wrpp h4 {
            font-size: 12px;
            color: #B3B3B3;
            line-height: 140%;
        }
    
        .wrpp input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            font-family: FugazOne;
            font-size: 16px;
        }

        textarea{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            font-family: FugazOne;
            font-size: 16px;
        }

        #submit_review{
            width: 50%;
            color: #fff;
            border: 2px solid #fff;
            background-color: #214CDB;
            font-family: FugazOne;
            box-shadow: black -4px 4px;
            border-radius: 10px;
            padding: 10px 0;
            float: right;
        }

        .user_rev_input h3{
            text-transform: capitalize;
        }

        .user_rev_input label{
            font-size: 14px;
        }

        .star_wrp{
            display: flex;
            flex-direction: column;
        }

        .login_p{
            font-size: 14px;
        }
        .login_p a{
            text-decoration: none;
            color: #214CDB
        }

        .price_details p{
            position: absolute;
            right: inherit;
            transform: translateY(100%);
            font-size: 12px;
            color: #00c12d;
        }

        @media screen and (max-width : 600px){
            #submit_review{
                width: 100%;
            }
        }

        .rating i{
            font-size: 14px;
            color: #ffb503;
        }
        .rating_wrap{
            display: flex;
            flex-direction: column;
        }
        .reviews_detail i{
            color: #ffb503;
        }

    </style>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/productpage.js'%}"></script>

    <script>

        var color_rad = document.querySelectorAll('input[name="color"]');
        var inp=true;

        color_rad.forEach(rads =>{
            if(inp){
                rads.checked=true;
                inp=false;
            }
            var color = rads.value;
            rads.style.backgroundColor = color;
        });

        const like_chekbox = document.getElementById("like");
        const like_this_container = document.getElementById("likecontainer");
        
        like_chekbox.addEventListener('change', function(){
            if(this.checked){
                add_to_fav(this);
            }
            else{
                delete_favorite(this);
            }
        });

        function add_to_fav(object) {
            var productId = object.getAttribute("data-product-id");
            var url = "{% url 'add_favorites' %}?product_id=" + productId;
            location.href = url;
        }

        function delete_favorite(object) {
            var productId = object.getAttribute("data-product-id");
            var url = "{% url 'delete_favorites' %}?product_id=" + productId;
            location.href = url;
        }



    </script>



</body>



</html>