{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hari Babu" />
    <meta name="description" content="Kalyani Autospares Product Page" />
    <meta name="keywords" content="Food, Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SITE TITLE -->
    <title>Kalyani Autospares | product</title>
    <!-- CSS -->
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/productpagestyle.css' %}" rel="stylesheet">
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/d6bb2a24d1.js" crossorigin="anonymous"></script>

    <style>
        * {
            cursor: url("{% static '/images/cursor.svg' %}"),
            auto !important;
        }
    </style>

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/slick.css'%}" />

</head>

<body>

    <header>
        <nav id="navbar">
            <div id="nav_tot" class="topnav">
                <div onclick="gohome()" class="left">
                    <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
                    <img class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div class="container">
                        <input id="search_bar" placeholder="Search Something" required="" class="input" name="text" type="search">
                        <div onclick="searchresult(true)" class="icon">
                            <img src="{% static '/images/search_ic.svg'%}" alt="">
                        </div>
                    </div>
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items}}</p>
                        <img src="{% static '/images/cart_ic.svg'%}" alt="">
                    </div>
                    <div class="tab_nav">
                        <div onclick="gohome()" class="home pill pillactive">
                            <img src="{% static '/images/home_ic.svg'%}" alt="">
                            <h4>HOME</h4>
                        </div>
                        <div onclick="goprofile()" class="profile pill">
                            <img src="{% static '/images/profile_ic.svg'%}" alt="">
                            <h4>PROFILE</h4>
                        </div>
                        <div class="favorites pill">
                            <img onclick="gofav()" src="{% static '/images/fav_ic.svg'%}" alt="">
                            <h4>FAVORITE'S</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusbar">
                <div id="sbleft" class="left">
                    <div id="sbcont" class="container">
                        <input id="inputHolder" placeholder="Search Something" required="" class="input" name="text"
                            type="search">
                        <div onclick="searchresult(false)" class="icon">
                            <img src="{% static '/images/search_ic_black.svg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div onclick="gohome()" class="middle">
                    <img class="imagelogo" src="{% static 'images/logo.png'%}" alt="">
                    <img id="name_logo" class="imagelogo_name" src="{% static 'images/logo_name.svg'%}" alt="">
                </div>
                <div class="right">
                    <div onclick="gocart()" class="cart_ic">
                        <p class="cartitems">{{cart_items}}</p>
                        <img src="{% static '/images/cart_ic_black.svg'%}" alt="">
                    </div>
                </div>
            </div>



        </nav>



    </header>



    <main>
        <section class="topmar">

        </section>

        <section class="section1">
            <div class="sec1_left">
                <div class="slider_wrap">
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imagewraper">
                            <img class="imgs" src="{{single_product.images.url}}" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <form action="{% url 'add_cart' %}" method="POST">
                {% csrf_token %}
                
                <input type="hidden" name="product_id" value="{{single_product.id}}">
                <input type="hidden" name="quantity" value="1" id="quantity_lay">


                <div class="sec1_right">

                    <h1 style="text-transform: capitalize;" >{{single_product.product_name}}</h1>
                    <h2 id="compatible_top" style="text-transform: capitalize;" > <span>compatible for :</span> {{single_product.compatible_for}}</h2>
                    <div class="details">
                        <p>{{single_product.description}}</p>
                        <div class="det_container">
                            <div class="price_reviews">
                                <div class="price_details">
                                    <h3 class="mrp">₹{{single_product.price}}</h3>
                                    <h2 class="selling_price">₹{{single_product.selling_price}}</h2>
                                </div>
                                <div class="reviews_detail">
                                    <img src="{% static '/images/star.svg'%}" alt="">
                                    <h3 class="review_no">4.3</h3>
                                    <h3 class="review_count">(50 Reviews)</h3>
                                </div>
                            </div>
                            <div class="color_items">
                                {% if single_product.variation_set.all|length > 0 %}
                                <div class="colors">
                                    <h3>colors:</h3>
                                    <div class="rad_color">
                                        {% for i in single_product.variation_set.all %}
                                        <input type="radio" name="color" value="{{i.variation_value}}">
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="items">
                                    <img id="minus_btn" src="{% static '/images/minuscart.svg'%}" alt="">
                                    <h3 id="item_no">01</h3>
                                    <img id="plus_btn" src="{% static '/images/pluscart.svg'%}" alt="">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="benifits">
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/fast-delivery.svg'%}" alt="">
                            </div>
                            <h3>Free<br>delivery</h3>
                        </div>
                        <div class="b_gap">

                        </div>
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/cash-on-delivery.svg'%}" alt="">
                            </div>
                            <h3>Pay on<br>delivery</h3>
                        </div>
                        <div class="b_gap">

                        </div>
                        <div class="b_wrapper fast_del">
                            <div class="img_wr">
                                <img src="{% static '/images/replacement.svg'%}" alt="">
                            </div>
                            <h3>7 Days<br>replace</h3>
                        </div>
                    </div>
                    <div class="prquality">
                        <div class="prq_wr">
                            <img src="{% static '/images/original.svg'%}" alt="">
                            <h3>Genuine Product</h3>
                        </div>
                        <div class="b_gap"></div>
                        <div class="prq_wr">
                            <img src="{% static '/images/badge.svg'%}" alt="">
                            <h3>Quality Checked</h3>
                        </div>
                    </div>


                    {% if single_product.stock > 0 %}
                    <div class="carttab tabmain">
                    
                        <label id="likecontainer" class="container">
                            {% if not favorite %}
                            <input data-product-id="{{ single_product.id }}" id="like" type="checkbox">
                            {% else %}
                            <input data-product-id="{{ single_product.id }}" id="like" checked type="checkbox">
                            {% endif %}
                            <div id="favou" class="checkmark">
                                <svg viewBox="0 0 256 256">
                                    <rect fill="none" height="256" width="256"></rect>
                                    <path
                                        d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z"
                                        stroke-width="20px" stroke="#FFF" fill="none"></path>
                                </svg>
                            </div>
                        </label>
                        <button type="submit" id="addtocart_btn">
                            <h3>Add To Cart</h3>
                        </button>
                    </div>
                    {% else %}
                    <h3 style="width: 100%; text-align: center; color: #a40000;">Out Of Stock</h3>
                    {% endif %}

                </div>
            </form>
        </section>

        <section class="section2">
            <div class="sec2_left">
                <h3>Details</h3>
                <div class="details">
                    <ul class="names">
                        <li>
                            <h4>Material</h4>
                        </li>
                        <li>
                            <h4>Color</h4>
                        </li>
                        <li>
                            <h4>Compatibility</h4>
                        </li>
                        <li>
                            <h4>category</h4>
                        </li>
                        <li>
                            <h4>Category</h4>
                        </li>
                        <li>
                            <h4>Part Number</h4>
                        </li>
                    </ul>
                    <ul class="detail">
                        <li>
                            <h4>{{single_product.material}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.color}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.compatible_for}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.belongs_to}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.category}}</h4>
                        </li>
                        <li>
                            <h4>{{single_product.part_number}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sec2_right">
                <div class="reviews_detail">
                    <img src="{% static '/images/star.svg'%}" alt="">
                    <h3 class="review_no">4.3</h3>
                    <h3 class="review_count">(50 Reviews)</h3>
                </div>
                <div class="reviews">
                    <div class="user_rev_input">
                        <h3>write a review</h3>
                        <h3>input stars</h3>
                        <textarea name="review" rows="4" data-gramm="false" wt-ignore-input="true"></textarea>
                    </div>
                    <h3>Customer Reviews</h3>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                    <div class="cust_rev">
                        <div class="nam_date">
                            <h3 class="cust_name">Sesha Sai</h3>
                            <h3 class="cust_rev_date">20/03/2020</h3>
                        </div>
                        <div class="rating">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                            <img src="{% static '/images/star.svg'%}" alt="">
                        </div>
                        <p>Nice Product with good delivery. The delivery time is very fast. Then products look like
                            exactly the picture in the app.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="title">
                <h3>More for your bike</h3>
                <div class="more">
                    <a href="{% url 'search' %}?keyword={{single_product.compatible_for.bike_name}}">
                        <h4>more</h4>
                    </a>
                    <a href=""><img src="{% static '/images/arrow.svg'%}" alt=""></a>
                </div>
            </div>
            <div class="products draggable_sl">

                {% for product in like_products %}
                {% if single_product.product_name|stringformat:"s" != product.product_name|stringformat:"s"%}
                <div class="product" data-product-url="{{ product.get_url }}">
                    <div class="product_img">
                        <img class="product_image" src="{{ product.images.url }}" alt="">
                    </div>
                    <h2 class="product_title">{{product.product_name}}
                    </h2>
                    <h1 class="price"><span>₹</span>{{product.selling_price}}</h1>
                    <div class="rating_wrap">
                        <div class="rating">
                            <img class="rating_img" src="{% static '/images/rating_img.png'%}" alt="">
                        </div>
                        <h4 class="rating_count">(350)</h4>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </section>











    </main>








    {% include 'includes/footer.html' %}
    {% include 'includes/links.html' %}




    <style>
        #compatible_top {
            margin-top: -10px;
            font-size: 16px;
        }
    
        #compatible_top span {
            font-size: 12px;
            color: #000;
        }
    
        input[name="color"] {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
    
        input[name="color"]:checked {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
        }
    
        #addtocart_btn {
            border: none;
            font-family: fugazone;
        }

    </style>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/productpage.js'%}"></script>

    <script>

        var color_rad = document.querySelectorAll('input[name="color"]');
        var inp=true;

        color_rad.forEach(rads =>{
            if(inp){
                rads.checked=true;
                inp=false;
            }
            var color = rads.value;
            rads.style.backgroundColor = color;
        });

        const like_chekbox = document.getElementById("like");
        const like_this_container = document.getElementById("likecontainer");
        
        like_chekbox.addEventListener('change', function(){
            if(this.checked){
                add_to_fav(this);
            }
            else{
                delete_favorite(this);
            }
        });

        function add_to_fav(object) {
            var productId = object.getAttribute("data-product-id");
            var url = "{% url 'add_favorites' %}?product_id=" + productId;
            location.href = url;
        }

        function delete_favorite(object) {
            var productId = object.getAttribute("data-product-id");
            var url = "{% url 'delete_favorites' %}?product_id=" + productId;
            location.href = url;
        }



    </script>



</body>



</html>